{
  "username" : "my_username",
  "password" : "my_password",
  "object_id" : "abcdefg-...-12345(the id of the object representing the FluidApp)",
  "root_namespace": "the_namespace_for_the_project"
}
